body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  header {
    background-color: #28868d;
    color: white;
    height: 18%;
    width: 100%;
    position: relative;
    padding: 0 20px; /* Padding for left and right margin */
    margin:2%;
  }
  
  header .banner-text {
    position: absolute;
    bottom: 60px; /* Adjust as needed to position text near the bottom */
    left: 7%; /* Left margin for the text */
    font-size: 40px; /* Adjust the size as needed */
  }
  
  header nav ul {
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 10px;
    right: 80px;
    display: flex;
  }
  
  header nav ul li {
    margin-left: 20px;
  }
  
  header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  header nav ul li a:hover {
    text-decoration: underline;
  }
  
main .commitment {
    padding: 20px;
  }
  
  main .commitment h1 {
    font-size: 35px; /* Adjust the size as needed */
    color: #333; /* Adjust the color as needed */
    margin-bottom: 10px;
    margin:7%;
  }
  
  main .commitment p {
    width:50%;
    font-size: 16px; /* Adjust the size as needed */
    color: #666; /* Adjust the color as needed */
    margin:7%;
  }